/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.block-editor__container .kinder-iframe {
  width: 760px !important;
  height: 340px;
}

.kinder-info {
  font-style: italic;
}
